Source: com.github.lafydev.wingpanel-indicator-ayatana
Section: x11
Priority: optional
Maintainer: Lafydev <laurencef15@gmail.com>
Build-Depends: debhelper-compat (= 12),
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libindicator3-dev,
               libwingpanel-3.0-dev,
               meson,
               valac (>= 0.40.0)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: com.github.lafydev.wingpanel-indicator-ayatana
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Ayatana Indicator
 this brings compatibility with Ayatana Indicator
